* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background-color: rgb(0 26 255 / 27%);*/
  background-color: rgb(220 0 156 / 40%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-calculator {
  width: 400px;
  height: 620px;
  background-color: rgb(0 0 0 / 8%);
  border: 1.3px solid rgb(255 255 255);
  border-radius: 10px;
  padding: 40px;
}
/*.container-result {
    background-color: rebeccapurple;
  }*/

.result {
  width: 100%;
  height: 100px;
  border: 1.3px solid rgb(255 255 255);
  border-radius: 5px;
  background-color: #ffffff40;
  font-size: 40px;
  font-weight: 100;
  font-family: monospace;
  text-align: end;
  padding: 0 42px;
  color: white;
}

.container-numbers {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.container-numbers > table {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container-numbers > table > tbody > tr > td > input[type="button"] {
  width: 65px;
  height: 65px;
  margin: 12px 10px;
  border: 2px solid white;
  outline: unset;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
  color: #5f5b5b;
  padding: unset;
  background-color: aliceblue;
}

.container-numbers > table > tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-numbers > table > tbody > tr {
  width: 100%;
}

.container-numbers > table > tbody > tr > td {
  width: 100%;
  display: flex;
  justify-content: center;
}

input#division {
  background-color: #a972f3;
  color: white;
}

input#multiplication {
  background-color: #ffc4cf;
  color: white;
}

input#subtraction {
  background-color: #00d8ff63;
  color: white;
}

input#addition {
  /*background-color: #faf291;*/
  background-color: #f353ff73;
  color: white;
}

input#equal {
  background-color: #a3ee8fcc;
  color: white;
}

input#porcentagem {
  background-color: #f66161;
  color: white;
}

input#backspace {
  background-color: #ffc459f0;
  color: white;
}

input#buttonC {
  background-color: #5150f88c;
  color: white;
}

input#point {
  background-color: #acecd8ba;
  color: white;
}

.container-numbers > table > tbody > tr > td > input[type="button"]:hover {
  cursor: pointer;
}

.container-numbers > table > tbody > tr > td > input[type="button"]:active {
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5%);
}
